name: Deploy Docker App

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "SSH connection successful!"
            whoami
            docker --version

            docker pull ${{ secrets.DOCKER_USERNAME }}/my-exercise-container:python-automation
            docker stop python-automation || true
            docker rm python-automation || true
            docker run -d \
              --name python-automation \
              ${{ secrets.DOCKER_USERNAME }}/my-exercise-container:python-automation
