name: Python Automation Workflow

on:
  push:
    branches:
      - main

jobs:
  run-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependencies
        run: pip install -r requirements.txt

      - name: Run automation script
        run: python Devopsandcloudautomation/devopsEx15/githubapitolistrepos.py

      - name: Success
        run: echo "Workflow executed successfully"
